// Cores
$corFundoPrincipal: #333;
$corFundoSecundaria:  #c4c4c4;
$corTextoPrincipal: #f0f0f0;
$corTextoSecundaria: #fff;
$corTextoTerciaria: #f0f0f0;
$corFundoBotao: #7AA6CB;
$corFundoBotaoSecundaria: #f3f3f3;
$corFundoBotaoTerciaria: #4181B6;
$corFundoBotaoQuaternaria: #336087;
$corFundoBotaoPentenaria: #213D55;
$corBorda: #336087;
$corBordaMaior: rgba(255, 255, 255, .5);